body{
	font-family: $cuerpo;
}

h1,h2,h3,h4,h5,h6{
	font-family: $titulo;
}

.home{
	background-color: $main-color;
	color: whitesmoke;
	height: 100vh;

	h1{
		padding-top: 25%;
    	padding-bottom: 10%;
    	font-size: 70px;
	}
	a{
		margin: 2%;
	}
	.btn-default{
		width: 100%;
		color: $main-color;
	}
	&__btn{
		color: whitesmoke;
	}
}

.navbar-inverse{
	a{
		padding-top: 4%;
   		padding-right: 3%;
	}
	.fa-search{
		color: whitesmoke;
	}
	.blanco{
		color: whitesmoke;
	}
	
}

//Profile css

.common-box__figure{
	padding: 1em 0 2em;
	img{
		height: 23vh;
		border-radius: 50%;
	}
}

.common-box{
	padding: 0 0 2em;
}
.common-box__body{
	label{
		input{
			background: white;
			border: transparent;
		}
	}
	p{
		color: white;
	}
}

.bg-fav{
	background: $main-color;
}

