body{
	font-family: $cuerpo;
}

h1,h2,h3,h4,h5,h6{
	font-family: $titulo;
}

.home{
	background-color: $main-color;
	color: whitesmoke;
	height: 100vh;

	h1{
		padding-top: 25%;
    	padding-bottom: 10%;
    	font-size: 70px;
	}
	a{
		margin: 2%;
	}
	.btn-default{
		width: 100%;
		color: $main-color;
	}
	&__btn{
		color: whitesmoke;
	}
}

.navbar-inverse{
	a{
		padding-top: 4%;
   		padding-right: 3%;
	}
	.fa-search{
		color: whitesmoke;
	}
	.blanco{
		color: whitesmoke;
	}
	
}


/* Account Section */
.navbar{
	margin-bottom: 0;
}

.account{
	background-color: #e2e2e2;
	height: 100vh;
	&__form{
		margin-top: 5%;
		margin-bottom: 5%;
		&__label{
			color: $main-color;
		}
		&__btn{
			color: whitesmoke;
			background-color: #222;
			margin-top: 6%;
		}
	}
}
