$titulo: 'Anton', sans-serif;
$cuerpo: 'Maven Pro', sans-serif;
$main-color: #c14748;

/* Details y Actor */
$color-white: white;
$position: absolute;
$color-grisClaro: #ebebeb;
$color-grisTexto: #cdcdcf;

$grey: #BFBFBF;
